<h3><a class="btn btn-secondary" href="/"><i class="fa fa-plus"></i> Create New</a> Employee List</h3>
<table class="table table-striped">
    <thead>
        <tr>
        <th>First Name</th>
         <th>Last Name</th>
         <th>Address</th>
         <th>Gender</th>
         <th>Date of Birth</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
        <td>{{this.firstName}}</td>
         <td>{{this.lastName}}</td>
         <td>{{this.address}}</td>
         <td>{{this.gender}}</td>
         <td>{{this.dateOfBirth}}</td>
            <td>
               <a href="/{{this._id}}" onclick="return confirm('Are you sure to update this record ?');"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>