<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
            }
            * {
                box-sizing: border-box;
            }
            /* Full-width input fields */
            input[type=text],input[type=date]{
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
            }
            label[for=gender]{
            width: 100%;
            margin: 0 0 22px 0;
            display: inline-block;
            border: none;
            }
            label[for=address]{
            width: 100%;
            padding-top:15px;
            margin: 5px 0 0 0;
            display: inline-block;
            border: none;
            }
            label[for=dob]{
            width: 100%;
            display: inline-block;
            border: none;
            }
            /* Add a background color when the inputs get focus */
            input[type=text]:focus {
            background-color: #ddd;
            outline: none;
            }
            /* Set a style for all buttons */
            .btn4 {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            opacity: 0.9;
            }
            .btn4:hover {
            opacity:1;
            }
            /* Extra styles for the cancel button */
            .cancelbtn {
            padding: 14px 20px;
            background-color: #f44336;
            }
            /* Float cancel and signup buttons and add an equal width */
            .cancelbtn, .signupbtn {
            float: left;
            width: 50%;
            }
            /* Add padding to container elements */
            .container {
            padding: 16px;
            }
            /* Modal Content/Box */
            .modal-content {
            background-color: #fefefe;
            margin: 1% auto 1% auto; /* 1% from the top, 1% from the bottom and centered */
            border: 1px solid #888;
            width: 40%; /* Could be more or less, depending on screen size */
            }
            /* Style the horizontal ruler */
            hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
            } 
            /* Change styles for cancel button and signup button on extra small screens */
            @media screen and (max-width: 300px) {
            .cancelbtn, .signupbtn {
                width: 100%;
            }
            }
        </style>
    </head>
    <body>
        <form class="modal-content" action="/edit" method="POST">
            <input type="hidden" name="_id" value="<%= values._id%>">
            <div class="container">
                <h1>Edit Person</h1>
                <p>Please fill in this form to add a person.</p>
                <hr>
                <label for="fname"><b>First Name</b></label>
                <input type="text" placeholder="Enter First Name" name="fname"value="<%= values.firstName%>"> 

                <label for="lname"><b>Last Name</b></label>
                <input type="text" placeholder="Enter Last Name" name="lname" value="<%= values.lastName%>">

                <label for="gender"><b>Gender</b></label>
                <input type="text" name="gender" placeholder="Enter Gender" value="<%= values.gender%>">

                <label for="address"><b>Address</b></label>
                <input type="text" placeholder="Enter Address" name="address" value="<%= values.address%>">

                <label for="dob"><b>Date of Birth</b></label>
                <input type="date" name="dob" min="1990-01-01" max="2020-07-31" value="<%= values.dob%>">
                
                <div class="clearfix">
                    <a href="/" style="width:auto;text-decoration:none;" class="btn4" class="cancelbtn"></i> Cancel</a>
                    <button class="btn4" type="submit" onclick="alert('Do you want to update record')" class="signupbtn">Edit Person</button>
                </div>
            </div>
        </form>
    </body>
</html>